*{
	margin:0;
	padding:0;
}

html{
	overflow: hidden;
}

/*background gradient*/
body {
	width: 100vh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(180deg, #b1e4fb, #2571ca, #0d073f);
	background-size: 600% 600%;
	-webkit-animation: sky 20s ease infinite;
	-moz-animation: sky 20s ease infinite;
	animation: sky 20s ease infinite;
}

@-webkit-keyframes sky {
	0% {
		background-position: 90% 0%
	}
	50% {
		background-position: 11% 100%
	}
	100% {
		background-position: 90% 0%
	}
}

@-moz-keyframes sky {
	0% {
		background-position: 90% 0%
	}
	50% {
		background-position: 11% 100%
	}
	100% {
		background-position: 90% 0%
	}
}

@keyframes sky {
	0% {
		background-position: 90% 0%
	}
	50% {
		background-position: 11% 100%
	}
	100% {
		background-position: 90% 0%
	}
}

/*plane rotation*/
@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-475px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-475px) 
		           rotate(-360deg);
	}
}

#plane { 
	position: absolute;
	width: 10%; 
	height: 40%;
	top: 30%; left: 7%; bottom: 0; right: 0;
	margin: auto;
	position: absolute;
	transform-origin: -200% center;
	animation: rot 5s infinite linear;
}
img { 
	width: 50%; height: auto;;
	margin-top: 10%;
}

/*timer*/
#timer p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16pt;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}

/*ovals*/
.oval1 {
	transform: translate(-50%,-50%);
	position: absolute;
	top:50%;
	left:50%;
	width: 950px;
	height: 950px;
	border: solid 5px #ffffff;
	opacity: .2;
	-moz-border-radius: 475px;
	-webkit-border-radius: 475px;
	border-radius: 475px;
}

.oval2 {
	transform: translate(-50%,-50%);
	position: absolute;
	top:55.5%;
	left:50%;
	width: 850px;
	height: 850px;
	border: solid 5px #ffffff;
	opacity: .2;
	-moz-border-radius: 425px;
	-webkit-border-radius: 425px;
	border-radius: 425px;
}

.oval3 {
	transform: translate(-50%,-50%);
	position: absolute;
	top:60.5%;
	left:50%;
	width: 750px;
	height: 750px;
	border: solid 5px #ffffff;
	opacity: .2;
	-moz-border-radius: 375px;
	-webkit-border-radius: 375px;
	border-radius: 375px;
}

.oval4 {
	transform: translate(-50%,-50%);
	position: absolute;
	top:66%;
	left:50%;
	width: 650px;
	height: 650px;
	border: solid 5px #ffffff;
	opacity: .2;
	-moz-border-radius: 325px;
	-webkit-border-radius: 325px;
	border-radius: 325px;
}

.oval5 {
	transform: translate(-50%,-50%);
	position: absolute;
	top:71%;
	left:50%;
	width: 550px;
	height: 550px;
	border: solid 5px #ffffff;
	opacity: .2;
	-moz-border-radius: 275px; 
	-webkit-border-radius: 275px; 
	border-radius: 275px;
}

.oval6 {
	transform: translate(-50%,-50%);
	position: absolute;
	top:76.5%;
	left:50%;
	width: 450px;
	height: 450px;
	border: solid 5px #ffffff;
	opacity: .2;
	-moz-border-radius: 225px;
	-webkit-border-radius: 225px;
	border-radius: 225px;
}

.oval7 {
	transform: translate(-50%,-50%);
	position: absolute;
	top:81.5%;
	left:50%;
	width: 350px;
	height: 350px;
	border: solid 5px #ffffff;
	opacity: .2;
	-moz-border-radius: 175px;
	-webkit-border-radius:  175px;
	border-radius: 175px;
}
