@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	margin:0;
	padding:0;
}

img{
	width: 8%;
}

@keyframes bounce {
		0% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 50%; left: 80%;
			-webkit-animation-timing-function: linear;
		}
				10%{ 
					transform: translate(-50%,-50%);
	    	 		-ms-transform:translate(-50%,-50%);
	    	 		-webkit-transform: translate(-50%,-50%);
					top: 20%; left: 50%;
					-webkit-animation-timing-function: linear;
				}
		20% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 50%; left: 20%;
			-webkit-animation-timing-function: linear;
		}
				30%{
					transform: translate(-50%,-50%);
	    	 		-ms-transform:translate(-50%,-50%);
	    	 		-webkit-transform: translate(-50%,-50%);
					top: 70%; left: 50%;
					-webkit-animation-timing-function: linear;
				}
		40% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 50%; left: 80%;
			-webkit-animation-timing-function: linear;
		}
				50%{
					transform: translate(-50%,-50%);
	    	 		-ms-transform:translate(-50%,-50%);
	    	 		-webkit-transform: translate(-50%,-50%);
					top: 20%; left: 60%;
					-webkit-animation-timing-function: linear;
				}
		60% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 50%; left: 40%;
			-webkit-animation-timing-function: linear;
		}
				70%{
					transform: translate(-50%,-50%);
	    	 		-ms-transform:translate(-50%,-50%);
	    	 		-webkit-transform: translate(-50%,-50%);
					top: 35%; left: 50%;
					-webkit-animation-timing-function: linear;
				}
		80% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 50%; left: 60%;	
			-webkit-animation-timing-function: linear;
		}
				90%{
					transform: translate(-50%,-50%);
	    	 		-ms-transform:translate(-50%,-50%);
	    	 		-webkit-transform: translate(-50%,-50%);
					top: 57%; left: 70%;
					-webkit-animation-timing-function: linear;
				}
		100% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 50%; left: 80%;
			-webkit-animation-timing-function: linear;
		}
}

@keyframes bouncemobile {
		0% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 80%; left: 50%;
			-webkit-animation-timing-function: linear;
		}
				10%{ 
					transform: translate(-50%,-50%);
	    			-ms-transform:translate(-50%,-50%);
	    			-webkit-transform: translate(-50%,-50%);
					top: 50%; left: 10%;
					-webkit-animation-timing-function: linear;
				}
		20% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 20%; left: 50%;
			-webkit-animation-timing-function: linear;
		}
				30%{
					transform: translate(-50%,-50%);
	    			-ms-transform:translate(-50%,-50%);
	    			-webkit-transform: translate(-50%,-50%);
					top: 50%; left: 90%;
					-webkit-animation-timing-function: linear;
				}
		40% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 80%; left: 50%;
			-webkit-animation-timing-function: linear;
		}
				50%{
					transform: translate(-50%,-50%);
	    	  		-ms-transform:translate(-50%,-50%);
	    	  		-webkit-transform: translate(-50%,-50%);
					top: 60%; left: 10%;
					-webkit-animation-timing-function: linear;
				}
		60% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 40%; left: 50%;
			-webkit-animation-timing-function: linear;
		}
				70%{
					transform: translate(-50%,-50%);
	    			-ms-transform:translate(-50%,-50%);
	    			-webkit-transform: translate(-50%,-50%);
					top: 50%; left: 90%;
					-webkit-animation-timing-function: linear;
				}
		80% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 60%; left: 50%;	
			-webkit-animation-timing-function: linear;
		}
				90%{
					transform: translate(-50%,-50%);
	    	 		-ms-transform:translate(-50%,-50%);
	    	 		-webkit-transform: translate(-50%,-50%);
					top: 70%; left: 90%;
					-webkit-animation-timing-function: linear;
				}
		100% {
			transform: translate(-50%,-50%);
	    	-ms-transform:translate(-50%,-50%);
	    	-webkit-transform: translate(-50%,-50%);
			top: 80%; left: 50%;
			-webkit-animation-timing-function: linear;
		}
}

html,body{
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
    background-color: #b3e6ff;
}

.plane {
	/*width: 60px;
    height: 60px;
    border-radius: 100%;
    background:#CCC;*/
  	width: 3%;
	animation: bounce 45s;
	animation-iteration-count: infinite;

	position:absolute;
/*  margin:50px;*/
}

.ma{
	position: absolute;
	top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}
.md{
	position: absolute;
	top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}
.ny{
	position: absolute;
	top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}
.seoul{
	position: absolute;
	top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}
.mdtext{
	position: absolute;
	width: 15%;
	font-size: 12pt;
	text-align: center;
	top: 60%;
    left: 40%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.matext{
	position: absolute;
	width: 15%;
	font-size: 12pt;
	text-align: center;
	top: 60%;
    left: 20%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	}
.nytext{
	position: absolute;
	width: 15%;
	font-size: 12pt;
	text-align: center;
	top: 60%;
    left: 60%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.stext{
	position: absolute;
	width: 15%;
	font-size: 12pt;
	text-align: center;
	top: 60%;
    left: 80%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

#back{
	width: 100%;
	opacity: .5;
	z-index: -1;
}
.logoma{ 
	position: absolute;
	top: 43%;
    left: 20%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	width: 5%;
}
.logoma{ 
	position: absolute;
	top: 43%;
    left: 20%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	width: 5%;
}
.logomd{ 
	position: absolute;
	top: 43%;
    left: 40%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	width: 10%;
}
.logony{ 
	position: absolute;
	top: 43%;
    left: 60%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	width: 10%;
}
.logos{ 
	position: absolute;
	top: 43%;
    left: 80%;
	transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
	width: 5%;
}

@media screen and (max-width: 414px) {

	html,body{
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
	}

	.plane {
	    /*width: 30px;
	    height: 30px;
	    border-radius: 100%;
	    background:#CCC;
*/	  	width: 8%;
		animation: bouncemobile 30s;
		animation-iteration-count: infinite;
		position:absolute;
	/*  margin:50px;*/
	}

	.ma{
		position: absolute;
		top: 20%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	    text-align: center;
	}
	.md{
		position: absolute;
		top: 40%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	    text-align: center;
	}
	.ny{
		position: absolute;
		top: 60%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	    text-align: center;
	}
	.seoul{
		position: absolute;
		top: 80%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	    text-align: center;
	}
	.mdtext{
		position: absolute;
		width: 60%;
		font-size: 8pt;
		text-align: center;
		top: 47%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	}
	.matext{
		position: absolute;
		width: 60%;
		font-size: 8pt;
		text-align: center;
		top: 27%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	}
	.nytext{
		position: absolute;
		width: 60%;
		font-size: 8pt;
		text-align: center;
		top: 67%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	}
	.stext{
		position: absolute;
		width: 60%;
		font-size: 8pt;
		text-align: center;
		top: 87%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
	}

	#back{
		width: 240%;
		/*height: 100%;*/
		opacity: .4;
		z-index: -1;
		float: right;
	}
	.logoma{ 
		position: absolute;
		top: 13%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
		width: 10%;
	}
	.logomd{ 
		position: absolute;
		top: 35%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
		width: 20%;
	}
	.logony{ 
		position: absolute;
		top: 55%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
		width: 20%;
	}
	.logos{ 
		position: absolute;
		top: 73%;
	    left: 50%;
		transform: translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	    -webkit-transform: translate(-50%,-50%);
		width: 10%;
	}

}