*{
	margin:0;
	padding:0;
}

html,body{
	overflow: hidden;
	font-family: "helvetica", sans-serif;
	font-size: 15pt;
	line-height: 43pt;
	padding-left: 90px;
	padding-top: 10pt;
	position: relative;
}

img{
	width: 15%;
	margin-top: 1.5%;
	margin-right: 9%;
}