

#box3 {
      
        position: absolute;
        top: 0;
        left: 0;
      
        width: 500px;
        height: 500px;
        background-color: gray;
        transform: translate(-50%,-50%);
    } 
