 #box4 {
        width: 100px;
        height: 100px;
        background-color: blue;
        position: fixed;
        left: 40%;
        top: 70%;
        z-index: 1;
        -ms-transform: rotate(70deg); /* IE 9 */
        -webkit-transform: rotate(70deg); /* Chrome, Safari, Opera */
        transform: rotate(70deg);
    }  
    
  #box2 {
        width: 400px;
        height: 400px;
        background-color: grey;
        position: absolute;
        left: 60%;
        top: 50%;
        -ms-transform: rotate(-50deg); /* IE 9 */
        -webkit-transform: rotate(-50deg); /* Chrome, Safari, Opera */
        transform: rotate(-50deg);
    }


#box1 {
        width: 500px;
        height: 500px;
        background-color: black;
        position: relative;
        top: 80px;
        -ms-transform: rotate(-20deg); /* IE 9 */
        -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
        transform: rotate(-20deg);
    } 
    
