 #box1 {
        width: 1000px;
        height: 60px;
        background-color: blue;
        position: fixed;
        left: 10%;
        top: 80%;
        -ms-transform: rotate(); /* IE 9 */
        -webkit-transform: rotate(); /* Chrome, Safari, Opera */
        transform: rotate();
    }  
    
  #box2 {
        width: 100px;
        height: 800px;
        background-color: black;
        position: absolute;
        left: 60%;
        top: 10%;
        -ms-transform: rotate(); /* IE 9 */
        -webkit-transform: rotate(); /* Chrome, Safari, Opera */
        transform: rotate();
    }

#box3 {
        width: 1000px;
        height: 500px;
        background-color: grey;
        position: fixed;
        left: 30%;
        top: 20%;
        z-index: -1;
        -ms-transform: rotate(); /* IE 9 */
        -webkit-transform: rotate(); /* Chrome, Safari, Opera */
        transform: rotate();
    }

#box4 {
        width: 300px;
        height: 500px;
        background-color: dimgrey;
        position: relative;
        top:10px;
        -ms-transform: rotate(); /* IE 9 */
        -webkit-transform: rotate(); /* Chrome, Safari, Opera */
        transform: rotate();
    } 
    
