@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
	margin:0;
	padding:0;
}

html, body{
	overflow: hidden;
    background: url(assets/roomsmall.jpg);
    background-repeat: no-repeat;
    background-size: auto;
/*    background-position: center;
*/}

img{
	position: absolute;
}

input {
	position: relative;
}

@keyframes swing {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
}

@keyframes moving {
    0% {
        transform: translate3d(20px, 0px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(5px, 0px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(25px, 0px, 0px);
    }
}

.moving{
	animation: moving ease-in-out 3s infinite alternate;
}

@keyframes mov {
    0% {
        transform: translate3d(0px, 10px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 5px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 15px, 0px);
    }
}

.moving2{
    animation: mov ease-in-out 2s infinite alternate;
}

#block{
    width: 1302px;
    height: 649px;
    top:.25%;
    left:11.8%;
    opacity: .85;
    position: absolute;
    background-color: white;
}

.info{
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    text-align: left;
    padding: 10px 0 0 15px;
}

.draggable { 
    cursor: move;
}